<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>notes</title>
</head>
<body>

<!--<button th:onclick="|location.href='@{/notes/new_user}'|" >sign in</button>-->
<!--<button th:onclick="|location.href=login|" >log in</button>-->

<button th:onclick="|location.href='/login'|" >log in</button>
<button th:onclick="|location.href='@{/notes/new_user}'|" >sign in</button>

<!--<h4><a href="/login">Войти</a></h4>-->
<!--<h4><a href="/registration">Зарегистрироваться</a></h4>-->
</div>
</body>
</html>
